<div class="login-container">

    <img src="assets/images/film.png" class="film">
    <div class="logo">Rotten Potatoes</div>
    <div class="desc">
        Welcome to the new and improved Rotten Potatoes!
    </div>

    <div class="login-form">
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" class="form-control" [(ngModel)]="username">
        </div>

        <div class="form-goupr">
            <label for="pword">Password</label>
            <input type="password" name="pword" class="form-control" [(ngModel)]="password">
        </div>

        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <div class="btn btn-dark" (click)="login()">Login</div>
        </div>

    </div>

</div>